<!doctype html>
<html lang="en">
    <%- include('../partials/header', { title: "Edit Art"}) %> 
    <body>
    <%- include('../partials/navbar', { title: "Edit Art", user }) %>   
    <div class="container mt-4 mb-4">    
        <center><h3>Update information</h3></center>
        <hr>
        <div class="card m-auto" style="width: 50%">
            <div class="card-header">
                Form Update
            </div>
            <div class="card-body">
                <form action="" method="post" autocomplete="off">
                    <div class="mb-3">
                        <label class="form-label" for="name">Name</label>
                        <input class="form-control" type="text" id="name" name="name" value="">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="stock">Profile Picture</label>
                        <input class="form-control" type="file" id="stock" name="stock" value="">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="stock">Cover Photo</label>
                        <input class="form-control" type="file" id="stock" name="stock" value="">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="bio">Bio</label>
                        <input class="form-control" type="text" id="bio" name="bio" value=""
                        >
                    </div>
    
                    <button class="btn btn-outline-primary">submit</button>
                </form>
            </div>
        </div>
    </div>
    <%- include('../partials/footer', { title: "Edit Art"}) %> 
    </body>
</html>