<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header', {title: "Profile"}) %> 
<body>
<%- include('../partials/navbar') %> 
<div class="container mt-3 mb-3">
<center><h3>Profile User</h3></center>
<hr>
<div class="mt-3 mb-3">
    <center>
        <div class="mt-3">
            <img src="..." class="img-fluid" alt="...">
        </div>
    </center>

    <div class="mt-3">
        <label for="username">UserName</label> <br>
        <img src="..." class="img-thumbnail" alt="..."> <br>
        <div>
            <label for="bio">Bio</label>
            <textarea name="bio" id="bio" class="form-control" cols="30" rows="5"> </textarea>
        </div>
    </div>
    <br>
    <center>
            <div class="col-md-16">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="img-thumbnail" alt="...">
                    <div class="card-body">
                      <p class="card-text">POST 1</p>
                    </div>
                  </div>
            </div>
            <br>
            
            <div class="col-md-16">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="img-thumbnail" alt="...">
                    <div class="card-body">
                      <p class="card-text">POST 2</p>
                    </div>
                  </div>
            </div>
    </center>
    <div class="btn-group">
        <a href="/" class="btn btn-primary active" aria-current="page">Edit User</a>
      </div>
</div>
<%- include('../partials/footer') %> 
</body>
</html>