<nav class="navbar navbar-expand-lg navbar-light bg-light pl-5 pr-5">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/profile/<%= user.id %>"><%= user.name %> <span class="sr-only"></span></a>
        </div>
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/profile/<%= user.id %>/friends">Friend<span class="sr-only"></span></a>
        </div>
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/post/new">New Post<span class="sr-only"></span></a>
        </div>
    </div>
    <form action="" method="get" autocomplete="off">
        <div class="row">
            <div class="col-md-8">
                <input class="form-control" type="search" name="search" placeholder="Search Friend">
                </div>
                <div class="col-md-1">
                <button type="submit" class="btn btn-secondary btn-sm">Search</button>
            </div>
            </div>
    </form>
</nav>