<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header', { title: "Post"}) %> 
<body>
    <%- include('./partials/navbar') %> 
    <div class="ml-5 mt-4 mr-5 mb-4">
        <form action="" method="get" autocomplete="off">
            <div class="row">
                    <div class="col-md-8">
                        <input class="form-control" type="search" name="search" placeholder="Search Friend">
                    </div>
                    <div class="col-md-1">
                        <button type="submit" class="btn btn-primary btn-sm">Search</button>
                    </div>
                </div>
            </form>
        <hr>
        
    </div> 
    <%- include('./partials/footer') %> 
</body>
</html>