<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header', { title: "Post"}) %> 
<body>
    <%- include('./partials/navbar') %> 
    <div class="ml-5 mt-4 mr-5 mb-4">
        <div class="row"> 
                <div class="col-md-4 mt-4">
                    <div class="card" style="width: 29rem;">
                        <!-- image post  -->
                        <img class="card-img-top" src="" style="height: 300px;" alt="">
                        <div class="card-body">
                            <!-- nama user  -->
                          <h5 class="card-title"> dsadsa</h5>
                          <!-- text dari postingan -->
                          <p class="card-text">dsadsa</p>
                          <a href="" class="btn btn-primary btn-sm">Profile 
                            <!-- untuk profile  -->
                              <img src="..." class="card-img-top" alt="...">
                          </a>
                          <!-- untuk comment -->
                          <a href="" class="btn btn-primary btn-sm">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                            </svg>
                        </a>
                        </div>
                    </div>
                </div>
          
        </div>
        </div> 
        <%- include('./partials/footer') %> 
</body>
</html>