<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/header") %>
<body> 
  <a href="/" class="shadow-none p-3 mb-5 bg-body-tertiary rounded">Go Back</a>
  <center><h3>Welcome to Fasbullah login System!</h3></center>
  <div class="container mt-4">
    <hr>
    <div class="card m-auto" style="width: 50%">
        <div class="card-header">
            Form Login
        </div>
        <div class="card-body">
            <form action="" method="post" autocomplete="off">
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" placeholder="eg: javascript.com" name="email">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="ex: password123"
                           name="password">
                </div>
                <button type="submit" class="btn btn-outline-primary">Login</button>
            </form>
        </div>
    </div>
</div>
</div>
</body>
</html>